*.o
*.d
kern/compile/*
*core
CHANGES
Makefile
build/
common/
configure
defs.mk
design/
man/
mk/
testscripts/
userland/
.gdbinit.main
.gdbinit.root
.travis.yml
.vscode/
Dockerfile
LICENSE
build-kernel.sh
build-toolchain.sh
docker-compose.yml
patches/
.